@font-face {
    font-family: magic;
    src: url('/assets/knight-vision-font/KnightVision-p7Ezy.ttf');
  }

#startMenu{
    background-image: url('/assets/IMG_9496.JPG');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;

}

#startMenu div{
    margin-left: 10vw;
}

p{
    font-family: magic;
}
